<div class="Post">
  <div class="Post-tl"></div>
  <div class="Post-tr"><div></div></div>
  <div class="Post-bl"><div></div></div>
  <div class="Post-br"><div></div></div>
  <div class="Post-tc"><div></div></div>
  <div class="Post-bc"><div></div></div>
  <div class="Post-cl"><div></div></div>
  <div class="Post-cr"><div></div></div>
  <div class="Post-cc"></div>
  <div class="Post-body">
<div class="Post-inner">
  <h2 class="PostHeaderIcon-wrapper">
      <!--<img src="/images/PostHeaderIcon.png" width="26" height="26" alt="PostHeaderIcon" />
       <span class="PostHeader">S-NET</span> -->
  </h2>
  <div class="PostContent">
    <br><br>
    <p style="color: red;text-align:center"><%= flash[:error] %></p>
<% form_tag session_path do -%>
<table class="wmi" align="center" style="width:350px">
    <tr>
      <th class="wmi" colspan="2">
        Inicio de Sesión
      </th>
    </tr>
    <tr>
      <td class="wmi">
        <%= image_tag("inicio_sesion.png") %>
      </td>
      <td class="wmi">
        <p><label for="login">Usuario</label><br/>
        <%= text_field_tag 'login' %></p>
        <p><label for="password">Contraseña</label><br/>
        <%= password_field_tag 'password' %></p>
      </td>
    </tr>
    <!-- Uncomment this if you want this functionality
    <p><label for="remember_me">Remember me:</label>
    <%= check_box_tag 'remember_me' %></p>
    -->
    <tr>
      <td class="wmi" colspan="2" style="text-align:center">
        <p><%= submit_tag 'Continuar' %></p>
      </td>
    </tr>
  <% end -%>
</table>
<br><br>
</div>
<div class="cleared"></div>
</div>
</div>
</div>


